.header {
    position: absolute;
    display: flex;
    height: 40px;
    padding: 5px;
}

.header > a {
    margin-right: 5px;
}

.header > a:last-child {
    margin-right: 0;
}

.header__link {
    display: block;
    height: 30px;
    width: fit-content;
    padding: 5px 10px;
    background: #8498d2;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}