.player {
    display: flex;
    height: 40px;
    padding: 5px;
    background: #80808052;
    border-radius: 5px;
}

.player_background_green {
    background: #7ac17a;
}

.player_justify_between {
    justify-content: space-between;
}

.player__name {
    width: calc(100% - 30px);
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player__text_bold {
    font-weight: bold;
}

.player__name_short {
    width: 80px;
    word-wrap: break-word;
}

.player__height_fit {
    height: fit-content;
}

.player__name_height_fit {
    height: fit-content;
}

.player__answer_short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}