.player {
    display: flex;
    height: 40px;
    padding: 5px;
    background: #80808052;
    border-radius: 5px;
}

.player_background_green {
    background: #7ac17a;
}

.player_justify_between {
    justify-content: space-between;
}

.player__name {
    width: calc(100% - 30px);
    line-height: 30px;
}