.players-list {
    margin-bottom: 10px;
}

.players-list > div {
    margin-bottom: 5px;
}

.players-list > div:last-child {
    margin-bottom: 0px;
}

.players-list__continue {
    margin: 0 auto;
}

.words__header {
    margin-bottom: 10px;
}

.error__header {
    display: inline-block;
    text-align: center;
}

.error__button {
    display: inline-block;
    border-radius: 10px;
}